* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #fff, #e9c0ff);
}
h1 {
  padding-top: 2rem;
  height: 25.5vh;
}
ul {
  list-style: none;
  height: 70vh;
}
li {
  border: #565656 2px solid;
  border-radius: 20%;
  padding: 1.5rem;
  margin: 2rem;
  background-color: #e9c0ff;
}
li:hover {
  background-color: #edaffa;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
